.header-global {
	border-bottom: none;
	box-shadow: none;

	.logo img {
		max-height: 50px;
	}
}

.home > header {
	background: url('../simple/images/boys.jpg');
	background-size: cover;
	background-position: 50%;

	.outer-wrapper {
		padding-top: 150px;
	    padding-bottom: 150px;
	}
	.title {
		background: rgba(100, 170, 214, 0.85);
		box-shadow: none;
		margin-left: auto;
		margin-right: auto;
		float: none;
		text-align: center;

		> .heading-group h1 {
			color: #fff;
			text-shadow: none;
		}
		> .heading-group p {
			color: #fff;
		}
	}
}

.wrapper-footer .wrapper-logo img {
	max-width: 90px;
}

// Button
.btn {
	box-shadow: none !important;
	border-radius: 0 !important;
}